SmartlifeCRMIntegration/Connected Services/CallControllerService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InitailState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitailStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitailStateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInitailDN">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInitailDNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInitailDNResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BargeinCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="callID" type="xs:int" />
        <xs:element minOccurs="0" name="dn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oneWayAudio" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BargeinCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DropCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="callID" type="xs:int" />
        <xs:element minOccurs="0" name="dn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DivertCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallID" type="xs:int" />
        <xs:element minOccurs="0" name="dn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destination" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VMBox" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivertCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallID" type="xs:int" />
        <xs:element minOccurs="0" name="dn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="listen_by" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dn_from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="number_to" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PickupCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dnFrom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PickupCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallID" type="xs:int" />
        <xs:element minOccurs="0" name="dn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="number_to" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WhisperTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallID" type="xs:int" />
        <xs:element minOccurs="0" name="dn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whisper_by" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhisperToResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Inserted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Updated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Deleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>